html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 10px;
}

h1 {
  padding: 0.1em 0.2em;
  border-width: 1px 0px 0px 3px;
  border-color: black;
  border-style: solid;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #666666;
}

th,
td {
  padding: 0.2em;
}

td.num {
  text-align: right;
}
